.contact-content {
    display: flex;
    gap: 2rem;
}

.contact-info, .contact-form {
    flex: 1;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-info i {
    color: var(--text-color);
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }
}